html{background: #CCC;color: #000; font-family: 'Times New Roman', Times, serif;}
.inner{max-width: 1920px; padding: 0 20px ; margin: 0 auto; }



#main p{font-size: 6rem; text-align: center;text-transform: uppercase; margin: 50px 0 50px;}

.poster_list ul { margin: 0 auto;  width: 1000px; height: 100%; }


.poster_list ul img{width: 100%; height: 100%;}


.poster_list { max-width: 1400px;margin: 0 auto 50px;overflow: hidden; }

.poster_list ul.swiper-wrapper {display: flex; width: auto;height: 600px;margin: 0;padding: 0;list-style: none;}

.poster_list .swiper-slide {width: 400px;height: 100%;will-change: transform;backface-visibility: hidden;transform: translateZ(0);-webkit-font-smoothing: antialiased;}

.poster_list .swiper-slide img {width: 100%;height: 100%;object-fit: cover;
border-radius: 5px; pointer-events: none; }




#footer{max-width: 1920px; margin: 0 auto; text-align: center; font-size: 1.4rem;}